* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;


}

body {
	background-color: #E7E7E7;

}

.banner {
	font-family: 'Raleway', sans-serif;
	background-color: white;

}

.UMC-logo {
	float: left;
	width: 150px;
	height: 150px;

	margin-bottom: 50px;
	margin-left: 50px;
	margin-top: 5px;
	/*border: 1px solid red;*/
	
}

header {
	/*margin-left: 20px;*/
	margin: auto;
}


.frontview {
/*	width: 100%;
max-height: 150px;*/
float: left;
border-radius: 10px;
border: 6px double #4d446f;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding-top: 30px;
	/*border: 1px solid red;*/
}

.nav-item {
	padding-right: 15px;
	padding-left: 15px;

}

li:not(:last-child) { 
	border-right: 4px double #fff;/* This will not give border to last li element */

}

.overview {
	border: 6px solid #455054;
	margin-bottom: 5px;
}

.statements, .extralinks {
	border: 6px solid #455054;

}

/*Floating Back-To-Top Button*/
#myBtn {
	/*position: fixed;*/
	bottom: 35px;
	/*float: right;*/
	/*right: 18.5%;*/
	/*left: 77.25%;*/
	/*max-width: 40px;*/
	width: 100% auto;
	font-size: 12px;
	border-color: rgba(85, 85, 85, 0.2);
	background-color:  rgb(100,100,100);
	padding: 3px;
	border-radius: 4px;

}
/*On Hover Color Change*/
/*#myBtn:hover {*/
	/*background-color: #7dbbf1;*/
}

.card {
	/*border: 3px solid #455054;*/

}

.carousel {
	border: 6px solid #455054;
	margin-bottom: 5px;
	border-radius: 10px;
}

.carousel-inner > .carousel-item > img {
	width:640px;
	height:360px;
}


.maps {
	max-width:720px;
	height:180px;


}

#feedbackform, #phone {
	border: 6px solid #455054;

}

#accordion1, #accordion2 {
	
}

.UMYF-logo, .UMYAF-logo, .UMM-logo, .WSCS-logo {
	float: left;
	height: 150px;
	width: 150px;	
}